@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 9% 98%;
    --foreground: 20 14% 4%;
    --card: 60 5.5% 94%;
    --card-foreground: 20 14% 4%;
    --popover: 60 9% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 174.7 83.9% 31.6%;
    --primary-foreground: 60 9% 98%;
    --secondary: 351.3 94.5% 71.4%;
    --secondary-foreground: 20 14% 4%;
    --muted: 60 5.5% 94%;
    --muted-foreground: 25 5% 45%;
    --accent: 60 5.5% 94%;
    --accent-foreground: 20 14% 4%;
    --destructive: 351 95% 71%;
    --destructive-foreground: 20 14% 4%;
    --border: 20 6% 90%;
    --input: 20 6% 90%;
    --ring: 174.7 83.9% 31.6%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.75rem;

    --safe-top: env(safe-area-inset-top, 0px);
    --safe-bottom: env(safe-area-inset-bottom, 0px);
    --safe-left: env(safe-area-inset-left, 0px);
    --safe-right: env(safe-area-inset-right, 0px);
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  html {
    -webkit-text-size-adjust: 100%;
    min-height: 100dvh;
    scroll-behavior: smooth;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    min-height: 100dvh;
  }
  ::selection {
    background-color: hsl(var(--primary) / 0.4);
  }
  .bg-primary ::selection {
    background-color: hsl(var(--primary-foreground) / 0.2);
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
  }
  input[type="date"],
  input[type="time"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
  }
  .dark {
    color-scheme: dark;
  }
  b {
    font-weight: 600;
  }

  .home-bg {
    opacity: 0.7;
    background-image: linear-gradient(hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to right, hsl(var(--border)) 1px, transparent 1px);
    background-size: 20px 20px;
    background-position: calc(50% - 10px) calc(50% - 10px);
  }
  .home-bg-overlay {
    background: radial-gradient(
      circle at center,
      transparent 0%,
      hsl(var(--background)) 80%
    );
  }
  .dotted-bg {
    background-image: radial-gradient(
      rgba(0, 0, 0, 0) 1px,
      hsl(var(--background)) 1px
    );
    background-size: 4px 4px;
  }

  @media print {
    .print-only-main header,
    .print-only-main footer {
      display: none;
    }
  }
}

@layer components {
  .h1 {
    @apply text-4xl font-bold sm:text-5xl;
  }
  .h2,
  .prose h1 {
    @apply text-3xl font-semibold sm:text-4xl;
  }
  .h3,
  .prose h2 {
    @apply text-2xl font-semibold leading-none tracking-tight;
  }

  a {
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
    text-decoration-color: transparent;
    @apply rounded ring-offset-background transition-colors focus:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  a:not(.unstyled):hover {
    text-decoration-color: hsl(var(--primary));
    @apply text-primary;
  }

  a.styled {
    @apply font-medium;
  }

  .prose blockquote p {
    &::before,
    &::after {
      content: "";
    }
  }

  .prose a.button {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-full font-medium transition-colors;
    @apply bg-primary text-primary-foreground;
    @apply h-10 px-4;
    @apply no-underline;
  }
}
