---
import { BstellIcon, EMAIL } from "@/lib/constants";
---

<footer class="bg-card">
  <div
    class="mx-auto flex max-w-4xl flex-col flex-wrap justify-between px-6 py-12 sm:flex-row"
  >
    <div class="flex w-full items-center self-start md:w-auto">
      <BstellIcon className="mr-2 size-8" />
      <div>
        <p class="text-lg font-semibold leading-none">Bstell online</p>
        <p class="text-xs">
          © {new Date().getFullYear()}. Alle Rechte vorbehalten.
        </p>
      </div>
    </div>
    <div class="mt-6 md:mt-0">
      <p class="mb-1 font-semibold">Kontakt</p>
      <p>
        <a href={`mailto:${EMAIL}`}>{EMAIL}</a>
      </p>
    </div>
    <div class="mt-6 w-auto sm:w-1/2 md:mt-0 md:w-auto">
      <p class="mb-1 font-semibold">Rechtliches</p>
      <p>
        <a href="/impressum/"> Impressum </a>
      </p>
      <p>
        <a href="/agb/"> Allgemeine Geschäftsbedingungen </a>
      </p>
    </div>
  </div>
</footer>

<style>
  a {
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: transparent;
    text-underline-offset: 2px;
    @apply rounded ring-offset-card transition-colors;
  }
  a:hover,
  a:focus {
    color: hsl(var(--primary));
    text-decoration-color: hsl(var(--primary));
    outline: none;
  }

  a:focus-visible {
    @apply ring-2 ring-ring ring-offset-2;
  }
</style>
