---
import { BstellIcon, EMAIL } from "@/lib/constants";
import { cn } from "@/lib/utils";
import { MailIcon } from "lucide-react";
import { buttonVariants } from "../ui/button";
---

<header
  class="dotted-bg fixed left-0 right-0 top-0 z-40 h-16 border-b-2 border-background backdrop-blur"
>
  <div
    class="mx-auto flex h-full max-w-4xl items-center justify-between pl-2 pr-4"
  >
    <a
      href="/"
      class={cn(
        buttonVariants({ variant: "ghost" }),
        "flex items-center gap-2"
      )}
    >
      <BstellIcon className="size-8 shrink-0" />
      <h1 class="text-xl font-medium">Bstell online</h1>
    </a>
    <div class="flex gap-2">
      <nav class="hidden items-center space-x-2 sm:flex">
        <a
          href="/docs/"
          class={cn(buttonVariants({ variant: "ghost", size: "sm" }))}
        >
          Dokumentation
        </a>
        <a
          href="/#preise"
          class={cn(buttonVariants({ variant: "ghost", size: "sm" }))}
        >
          Preise
        </a>
        <a
          href="https://bstell.online/demo"
          target="_blank"
          rel="noreferer"
          class={cn(buttonVariants({ variant: "ghost", size: "sm" }))}
        >
          Demo
        </a>
      </nav>
      <a
        href={`mailto:${EMAIL}`}
        class={cn(buttonVariants({ variant: "ghost", size: "icon" }), "size-9")}
        aria-label="Kontakt"
      >
        <MailIcon className="size-5" strokeWidth={2.5} />
      </a>
    </div>
  </div>
</header>
<div class="h-16"></div>
