---
import Layout from "@/layouts/Layout.astro";
import { EMAIL } from "@/lib/constants";
---

<Layout title="Impressum">
  <section class="mx-auto max-w-4xl space-y-4 px-6 py-20">
    <h2 class="h1">Impressum</h2>
    <h3 class="h2 pt-8">Verantwortlich</h3>
    <p class="font-medium">Nils Benz</p>
    <p>
      Nils Benz Software und Video
      <br />
      Widenstrasse 9
      <br />
      9444 Diepoldsau
      <br />
      Schweiz
    </p>
    <h3 class="h2 pt-8">UID</h3>
    <p>CHE-148.682.214</p>
    <h3 class="h2 pt-8">Kontakt</h3>
    <p>
      <a href={`mailto:${EMAIL}`} class="unstyled underline">
        {EMAIL}
      </a>
    </p>
  </section>
</Layout>
