---
import coffee from "@/assets/images/coffee.svg";
import { BstellIcon, EMAIL } from "@/lib/constants";
import { MailIcon, TabletSmartphoneIcon } from "lucide-react";
import { buttonVariants } from "../ui/button";
import { FadeIn } from "../ui/fade-in";
---

<div class="relative">
  <div class="home-bg absolute inset-0 -z-10">
    <div class="home-bg-overlay h-full w-full"></div>
  </div>
  <section
    class="mx-auto grid min-h-[60dvh] max-w-4xl grid-cols-1 items-center px-6 py-20 md:grid-cols-[1fr_24rem]"
  >
    <div class="mx-auto flex max-w-md flex-col gap-8 md:max-w-full">
      <FadeIn client:load delay={0.2}>
        <h2
          class="relative text-center text-4xl font-bold sm:text-5xl md:text-left"
        >
          Das <span
            class="inline-block bg-gradient-to-br from-rose-500 to-pink-600 bg-clip-text text-transparent"
            >Kassensystem</span
          ><br />für Vereine
        </h2>
      </FadeIn>
      <FadeIn client:load delay={0.4}>
        <p class="mt-4 text-balance text-center md:text-left">
          Mit <BstellIcon className="-mr-1 inline-block size-5" />
          <span
            class="inline-block whitespace-nowrap bg-gradient-to-br from-teal-400 to-teal-500 pl-1 pr-1.5 font-semibold shadow-md"
            >Bstell online</span
          > kann an Veranstaltungen beliebiger Grösse einfach und schnell Bestellungen
          aufgenommen und abgerechnet werden.
        </p>
      </FadeIn>
      <FadeIn client:load delay={0.6}>
        <div class="flex items-center justify-center gap-4 md:justify-start">
          <a
            href="https://bstell.online"
            rel="noreferer"
            class={buttonVariants({ variant: "outline", size: "lg" })}
          >
            <TabletSmartphoneIcon className="size-5" strokeWidth={2.5} />
            Zur App
          </a>
          <a
            href={`mailto:${EMAIL}`}
            class={buttonVariants({ variant: "ghost" })}
          >
            <MailIcon className="size-5" strokeWidth={2.5} />
            Kontakt
          </a>
        </div>
      </FadeIn>
    </div>
    <FadeIn client:load delay={0.4} from="right">
      <img
        src={coffee.src}
        alt="Kaffee"
        class="mx-auto hidden h-full w-full max-w-md animate-move-x md:block"
      />
    </FadeIn>
  </section>
</div>
